﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
    </head>
    <body>
        <div id="mainContent"></div>
        @RenderBody()
    </body>

    @RenderSection("Scripts", true)
</html>